This lesson is taken from: [PracticePython.org](https://https://www.practicepython.org/exercise/2014/01/29/01-character-input.html).  Lesson 01 is character input

In [13]:
name = input("Enter you name:  ")
age = (input("Enter your age:  "))

print ("Your name is " + name)
print ("Your age is: " + (age))
solution1= ("You will turn 100 in: " + str(100- int(age)) + " years")
print (solution1)

age2 = input("Enter another number: ")

print(int(age2) * solution1)

print( int(age2) * ((solution1) + "\n"))

Enter you name:  Me
Enter your age:  43
Your name is Me
Your age is: 43
You will turn 100 in: 57 years
Enter another number: 3
You will turn 100 in: 57 yearsYou will turn 100 in: 57 yearsYou will turn 100 in: 57 years
You will turn 100 in: 57 years
You will turn 100 in: 57 years
You will turn 100 in: 57 years

This lesson is taken from: [PythonPractice.org Lesson 2](https://www.practicepython.org/exercise/2014/02/05/02-odd-or-even.html)

In [20]:
num = input("Enter a number: ")
testOddOrEven = int(num) % 2
if(testOddOrEven==1):
	print("Odd\n")
else:
	print("Even\n");
  
  # Extra part 1:
testMod4 = int(num) % 4
if(testMod4 == 0):
	print("Multiple of 4\n")

# Extra part 2:
check = input("Enter a second number: ")
testDivide = int(num) % int(check)
if(testDivide==0):
	print("Divides evenly")
else:
	print("Does not divide evenly")

Enter a number: 20
Even

Multiple of 4

Enter a second number: 5
Divides evenly

This lesson is taken from: [PythonPractice.org Lesson 3](https://www.practicepython.org/exercise/2014/02/15/03-list-less-than-ten.html)

In [28]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for val in a:
	if (val < 5):
		print (""+ str(val) +" is less than 5")

1 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5